
@{
    ViewBag.Title = "Index";
}

<h2 id="headings">Consignment Details</h2>
<hr />
<div class="container">
    <div id="consignmentimages" class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h4 class="text-center text-primary">Book New Domestic Consignment</h4>
            <a href="~/Consignment/CreateBooking">
                <img class="img-rounded center-block" src="~/Content/Images/bookdomesticimage.jpeg" alt="Create Domestic Consignment Booking" 
                     style="height:auto"
                     />
            </a>
            <br />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h4 class="text-center text-primary">Check Consignment Status</h4>
            <a href="~/Consignment/CheckConsignmentStatus">
                <img class="img-rounded center-block" src="~/Content/Images/checkstatus.jpeg" />
            </a>
            <br />
            <br />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h4 class="text-center text-primary">Update Consignment Status</h4>
            <a href="~/Consignment/UpdateConsignmentStatus">
                <img class="img-rounded center-block" src="~/Content/Images/updatestatus.jpeg" />
            </a>
            <br />
            <br />
        </div>
    </div>
</div>


