<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="jumbotron text-capitalize text-center">
        <strong style="color:red;font-size:20px;">An Error has occured while processing your request. Please contact your system administrator for more details.</strong>
        <a href="mailto:ibhargav547@gmail.com">
            Click Here <p>to send a mail to administrator on this error.</p>
        </a>
    </div>
</body>
</html>
