
@{
    ViewBag.Title = "Index";
}
<style>
.well{
    background-color:antiquewhite;
    box-shadow:rgba(0,0,0,0.4) 10px 10px;

}
</style>
<h2 id="headings">Search Control</h2>
<hr />

<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
        <a href="#">
            <div class="well well-lg">
                <h4>Voting in West Bengal, Assam (both phase 3) Tamil Nadu, Kerala & Puducherry</h4>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <a href="#">
            <div class="well well-lg">
                <h4>Voting in West Bengal, Assam (both phase 3) Tamil Nadu, Kerala & Puducherry</h4>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <a href="#">
            <div class="well well-lg">
                <h4>Voting in West Bengal, Assam (both phase 3) Tamil Nadu, Kerala & Puducherry</h4>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <a href="#">
            <div class="well well-lg">
                <h4>Voting in West Bengal, Assam (both phase 3) Tamil Nadu, Kerala & Puducherry</h4>
            </div>
        </a>
    </div>
</div> 
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
        <a href="#">
            <div class="well well-lg">
                <h4>Voting in West Bengal, Assam (both phase 3) Tamil Nadu, Kerala & Puducherry</h4>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <a href="#">
            <div class="well well-lg">
                <h4>Voting in West Bengal, Assam (both phase 3) Tamil Nadu, Kerala & Puducherry</h4>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <a href="#">
            <div class="well well-lg">
                <h4>Voting in West Bengal, Assam (both phase 3) Tamil Nadu, Kerala & Puducherry</h4>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <a href="#">
            <div class="well well-lg">
                <h4>Voting in West Bengal, Assam (both phase 3) Tamil Nadu, Kerala & Puducherry</h4>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-12">
        <a href="#">
            <div class="well well-lg">
                <h4>Voting in West Bengal, Assam (both phase 3) Tamil Nadu, Kerala & Puducherry</h4>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <a href="#">
            <div class="well well-lg">
                <h4>Voting in West Bengal, Assam (both phase 3) Tamil Nadu, Kerala & Puducherry</h4>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <a href="#">
            <div class="well well-lg">
                <h4>Voting in West Bengal, Assam (both phase 3) Tamil Nadu, Kerala & Puducherry</h4>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
        <a href="#">
            <div class="well well-lg">
                <h4>Voting in West Bengal, Assam (both phase 3) Tamil Nadu, Kerala & Puducherry</h4>
            </div>
        </a>
    </div>
</div>