
@{
    ViewBag.Title = "Help";
}

<h2 id="headings">Help Center</h2>
<hr />

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-group" id="helpaccordion">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#helpaccordion" href="#collapse1">Help 1</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                            commodo consequat.
                        </div>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#helpaccordion" href="#collapse2">Help 1</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            Dear Sai,

                            Thank you for applying for the Software Engineering position. In order to continue to review your application, we need some additional information.

                            Please click on the "Provide Additional Information" button to update your application as soon as possible.

                            We look forward to learning more about you.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

